.bg-img {
  .banner {
    background: url('https://s1.1zoom.me/b6058/448/Dogs_Svetlana_Shelemeteva_Hug_Little_girls_568770_1920x1080.jpg') no-repeat;
    background-size: cover
  }
}
.message{
color: red;
}
